InfrastructureService/Portal/InfrastructureService.Client/Service References/StorageService/StorageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StorageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IStorageService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://azure.open.net/StorageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://azure.open.net/StorageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://azure.open.net/StorageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.Basic" />
      <xsd:import schemaLocation="http://azure.open.net/StorageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="http://azure.open.net/StorageService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import schemaLocation="http://azure.open.net/StorageService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://azure.open.net/StorageService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" />
      <xsd:import schemaLocation="http://azure.open.net/StorageService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStorageService_GetConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfig" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageService_SaveFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveFile" />
  </wsdl:message>
  <wsdl:message name="IStorageService_SaveFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveFileResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageService_QueryFile_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryFile" />
  </wsdl:message>
  <wsdl:message name="IStorageService_QueryFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryFileResponse" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetFileUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileUrl" />
  </wsdl:message>
  <wsdl:message name="IStorageService_GetFileUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="IStorageService">
    <wsdl:operation name="GetConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageService/GetConfig" message="tns:IStorageService_GetConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageService/GetConfigResponse" message="tns:IStorageService_GetConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageService/SaveFile" message="tns:IStorageService_SaveFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageService/SaveFileResponse" message="tns:IStorageService_SaveFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageService/QueryFile" message="tns:IStorageService_QueryFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageService/QueryFileResponse" message="tns:IStorageService_QueryFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorageService/GetFileUrl" message="tns:IStorageService_GetFileUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorageService/GetFileUrlResponse" message="tns:IStorageService_GetFileUrl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IStorageService" type="tns:IStorageService">
    <wsp:PolicyReference URI="#WSHttpBinding_IStorageService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetConfig">
      <soap12:operation soapAction="http://tempuri.org/IStorageService/GetConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFile">
      <soap12:operation soapAction="http://tempuri.org/IStorageService/SaveFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryFile">
      <soap12:operation soapAction="http://tempuri.org/IStorageService/QueryFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileUrl">
      <soap12:operation soapAction="http://tempuri.org/IStorageService/GetFileUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StorageService">
    <wsdl:port name="WSHttpBinding_IStorageService" binding="tns:WSHttpBinding_IStorageService">
      <soap12:address location="http://azure.open.net/StorageService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://azure.open.net/StorageService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>