Hub/System.Hub/Service References/InfrastructureService/InfrastructureService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://azure2.open.net/InfrastructureService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.Basic" />
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.Basic" minOccurs="0" name="param" nillable="true" type="q1:SendEmailParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.Basic" minOccurs="0" name="param" nillable="true" type="q2:SendSMSParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.Basic" minOccurs="0" name="GetConfigResult" nillable="true" type="q3:StorageConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.Basic" minOccurs="0" name="param" nillable="true" type="q4:SaveFileParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.Basic" minOccurs="0" name="param" nillable="true" type="q5:QueryFileParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.Basic" minOccurs="0" name="QueryFileResult" nillable="true" type="q6:QueryFileResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.Basic" minOccurs="0" name="param" nillable="true" type="q7:GetFileUrlParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFileUrlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>