InfrastructureService/Portal/InfrastructureService.WebModel/Service References/SSOService/SSOService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://azure.open.net/SSOService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" />
  <xs:import schemaLocation="http://azure.open.net/SSOService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="IsUserNameExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="param" nillable="true" type="q1:IsUserNameExistsParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserNameExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserNameExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="param" nillable="true" type="q2:SignUpParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="param" nillable="true" type="q3:SignInParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="SignInResult" nillable="true" type="q4:SSOIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="param" nillable="true" type="q5:OAuthParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="OAuthResult" nillable="true" type="q6:SSOIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="param" nillable="true" type="q7:GetIdentityParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="GetIdentityResult" nillable="true" type="q8:SSOIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="GetServerConfigResult" nillable="true" type="q9:GetServerConfigResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAuthEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="param" nillable="true" type="q10:SendAuthEmailParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAuthEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="authCode" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAuthMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="param" nillable="true" type="q12:SendAuthMobileParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAuthMobileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyMobile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="param" nillable="true" type="q13:VerifyMobileParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyMobileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFindPwdCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="param" nillable="true" type="q14:SendFindPwdCodeParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFindPwdCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="param" nillable="true" type="q15:ChangePasswordParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="pager" nillable="true" type="q16:QueryUsersParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="QueryUsersResult" nillable="true" type="q17:QueryUsersResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerySignInLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="pager" nillable="true" type="q18:QuerySignInLogsParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuerySignInLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" minOccurs="0" name="QuerySignInLogsResult" nillable="true" type="q19:QuerySignInLogsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>