InfrastructureService/Portal/InfrastructureService.Client/Service References/SSOService/SSOService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SSOService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IUserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://azure.open.net/SSOService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://azure.open.net/SSOService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://azure.open.net/SSOService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" />
      <xsd:import schemaLocation="http://azure.open.net/SSOService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_IsUserNameExists_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserNameExists" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsUserNameExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserNameExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IUserService_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IUserService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_OAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:OAuth" />
  </wsdl:message>
  <wsdl:message name="IUserService_OAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:OAuthResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdentity" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdentityResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_SignOut_InputMessage">
    <wsdl:part name="parameters" element="tns:SignOut" />
  </wsdl:message>
  <wsdl:message name="IUserService_SignOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignOutResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetServerConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerConfig" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetServerConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_SendAuthEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAuthEmail" />
  </wsdl:message>
  <wsdl:message name="IUserService_SendAuthEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAuthEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_VerifyEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyEmail" />
  </wsdl:message>
  <wsdl:message name="IUserService_VerifyEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_SendAuthMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAuthMobile" />
  </wsdl:message>
  <wsdl:message name="IUserService_SendAuthMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAuthMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_VerifyMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyMobile" />
  </wsdl:message>
  <wsdl:message name="IUserService_VerifyMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyMobileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_SendFindPwdCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFindPwdCode" />
  </wsdl:message>
  <wsdl:message name="IUserService_SendFindPwdCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFindPwdCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_QueryUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_QueryUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_QuerySignInLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:QuerySignInLogs" />
  </wsdl:message>
  <wsdl:message name="IUserService_QuerySignInLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuerySignInLogsResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="IsUserNameExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/IsUserNameExists" message="tns:IUserService_IsUserNameExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/IsUserNameExistsResponse" message="tns:IUserService_IsUserNameExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SignUp" message="tns:IUserService_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SignUpResponse" message="tns:IUserService_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SignIn" message="tns:IUserService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SignInResponse" message="tns:IUserService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OAuth">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/OAuth" message="tns:IUserService_OAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/OAuthResponse" message="tns:IUserService_OAuth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdentity">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetIdentity" message="tns:IUserService_GetIdentity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetIdentityResponse" message="tns:IUserService_GetIdentity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SignOut" message="tns:IUserService_SignOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SignOutResponse" message="tns:IUserService_SignOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetServerConfig" message="tns:IUserService_GetServerConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetServerConfigResponse" message="tns:IUserService_GetServerConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAuthEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SendAuthEmail" message="tns:IUserService_SendAuthEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SendAuthEmailResponse" message="tns:IUserService_SendAuthEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/VerifyEmail" message="tns:IUserService_VerifyEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/VerifyEmailResponse" message="tns:IUserService_VerifyEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAuthMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SendAuthMobile" message="tns:IUserService_SendAuthMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SendAuthMobileResponse" message="tns:IUserService_SendAuthMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyMobile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/VerifyMobile" message="tns:IUserService_VerifyMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/VerifyMobileResponse" message="tns:IUserService_VerifyMobile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFindPwdCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SendFindPwdCode" message="tns:IUserService_SendFindPwdCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SendFindPwdCodeResponse" message="tns:IUserService_SendFindPwdCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ChangePassword" message="tns:IUserService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ChangePasswordResponse" message="tns:IUserService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/QueryUsers" message="tns:IUserService_QueryUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/QueryUsersResponse" message="tns:IUserService_QueryUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuerySignInLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/QuerySignInLogs" message="tns:IUserService_QuerySignInLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/QuerySignInLogsResponse" message="tns:IUserService_QuerySignInLogs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IUserService" type="tns:IUserService">
    <wsp:PolicyReference URI="#WSHttpBinding_IUserService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsUserNameExists">
      <soap12:operation soapAction="http://tempuri.org/IUserService/IsUserNameExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap12:operation soapAction="http://tempuri.org/IUserService/SignUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap12:operation soapAction="http://tempuri.org/IUserService/SignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OAuth">
      <soap12:operation soapAction="http://tempuri.org/IUserService/OAuth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdentity">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetIdentity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap12:operation soapAction="http://tempuri.org/IUserService/SignOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerConfig">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetServerConfig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAuthEmail">
      <soap12:operation soapAction="http://tempuri.org/IUserService/SendAuthEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyEmail">
      <soap12:operation soapAction="http://tempuri.org/IUserService/VerifyEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAuthMobile">
      <soap12:operation soapAction="http://tempuri.org/IUserService/SendAuthMobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyMobile">
      <soap12:operation soapAction="http://tempuri.org/IUserService/VerifyMobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFindPwdCode">
      <soap12:operation soapAction="http://tempuri.org/IUserService/SendFindPwdCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/IUserService/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUsers">
      <soap12:operation soapAction="http://tempuri.org/IUserService/QueryUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySignInLogs">
      <soap12:operation soapAction="http://tempuri.org/IUserService/QuerySignInLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SSOService">
    <wsdl:port name="WSHttpBinding_IUserService" binding="tns:WSHttpBinding_IUserService">
      <soap12:address location="http://azure.open.net/SSOService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://azure.open.net/SSOService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>