InfrastructureService/Portal/InfrastructureService.Client/Service References/SSOService/SSOService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InfrastructureService.Model.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://azure.open.net/SSOService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" />
  <xs:import schemaLocation="http://azure.open.net/SSOService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="IsUserNameExistsParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" base="q1:HeaderEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IsUserNameExistsParameter" nillable="true" type="tns:IsUserNameExistsParameter" />
  <xs:complexType name="SignUpParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" base="q2:HeaderEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SmsCode" type="xs:int" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SignUpParameter" nillable="true" type="tns:SignUpParameter" />
  <xs:complexType name="SignInParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" base="q3:HeaderEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientIP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LogSignIn" type="xs:boolean" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SignInParameter" nillable="true" type="tns:SignInParameter" />
  <xs:complexType name="SSOIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAuthenticated" type="xs:boolean" />
      <xs:element minOccurs="0" name="IssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSOIdentity" nillable="true" type="tns:SSOIdentity" />
  <xs:complexType name="OAuthParameter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SignInParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OAuthKind" type="tns:OAuthKind" />
          <xs:element minOccurs="0" name="OpenID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OAuthParameter" nillable="true" type="tns:OAuthParameter" />
  <xs:simpleType name="OAuthKind">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="OAuthKind" nillable="true" type="tns:OAuthKind" />
  <xs:complexType name="GetIdentityParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpiresDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetIdentityParameter" nillable="true" type="tns:GetIdentityParameter" />
  <xs:complexType name="GetServerConfigResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Notify" nillable="true" type="tns:ArrayOfSSONotify" />
      <xs:element minOccurs="0" name="Timeout" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetServerConfigResult" nillable="true" type="tns:GetServerConfigResult" />
  <xs:complexType name="ArrayOfSSONotify">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SSONotify" nillable="true" type="tns:SSONotify" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSSONotify" nillable="true" type="tns:ArrayOfSSONotify" />
  <xs:complexType name="SSONotify">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientHandlerUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSONotify" nillable="true" type="tns:SSONotify" />
  <xs:complexType name="SendAuthEmailParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" base="q4:HeaderEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Kind" type="tns:AuthEmailKind" />
          <xs:element minOccurs="0" name="UserID" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendAuthEmailParameter" nillable="true" type="tns:SendAuthEmailParameter" />
  <xs:simpleType name="AuthEmailKind">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="AuthEmailKind" nillable="true" type="tns:AuthEmailKind" />
  <xs:complexType name="SendAuthMobileParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" base="q5:HeaderEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Kind" type="tns:AuthMobileKind" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendAuthMobileParameter" nillable="true" type="tns:SendAuthMobileParameter" />
  <xs:simpleType name="AuthMobileKind">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="AuthMobileKind" nillable="true" type="tns:AuthMobileKind" />
  <xs:complexType name="VerifyMobileParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SmsCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerifyMobileParameter" nillable="true" type="tns:VerifyMobileParameter" />
  <xs:complexType name="SendFindPwdCodeParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" base="q6:HeaderEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SendFindPwdCodeParameter" nillable="true" type="tns:SendFindPwdCodeParameter" />
  <xs:complexType name="ChangePasswordParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" base="q7:HeaderEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OldPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangePasswordParameter" nillable="true" type="tns:ChangePasswordParameter" />
  <xs:complexType name="QueryUsersParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" base="q8:PagingParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="Keyword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderBy" type="tns:QueryUsersOrderBy" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryUsersParameter" nillable="true" type="tns:QueryUsersParameter" />
  <xs:simpleType name="QueryUsersOrderBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CreateDateDesc" />
      <xs:enumeration value="CreateDateAsc" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QueryUsersOrderBy" nillable="true" type="tns:QueryUsersOrderBy" />
  <xs:complexType name="QueryUsersResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" base="q9:PagedResultOfUserEntityrq7qyffr">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QueryUsersResult" nillable="true" type="tns:QueryUsersResult" />
  <xs:complexType name="ArrayOfUserEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserEntity" nillable="true" type="tns:UserEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserEntity" nillable="true" type="tns:ArrayOfUserEntity" />
  <xs:complexType name="UserEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flags" type="tns:UserFlags" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserEntity" nillable="true" type="tns:UserEntity" />
  <xs:simpleType name="UserFlags">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="UserFlags" nillable="true" type="tns:UserFlags" />
  <xs:complexType name="QuerySignInLogsParameter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" base="q10:PagingParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsSuccess" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuerySignInLogsParameter" nillable="true" type="tns:QuerySignInLogsParameter" />
  <xs:complexType name="QuerySignInLogsResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/InfrastructureService.Model" base="q11:PagedResultOfQuerySignInLogsResult.TResultrq7qyffr">
        <xs:sequence>
          <xs:element minOccurs="0" name="SignInCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuerySignInLogsResult" nillable="true" type="tns:QuerySignInLogsResult" />
  <xs:complexType name="ArrayOfQuerySignInLogsResult.TResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuerySignInLogsResult.TResult" nillable="true" type="tns:QuerySignInLogsResult.TResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuerySignInLogsResult.TResult" nillable="true" type="tns:ArrayOfQuerySignInLogsResult.TResult" />
  <xs:complexType name="QuerySignInLogsResult.TResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Platform" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignInDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuerySignInLogsResult.TResult" nillable="true" type="tns:QuerySignInLogsResult.TResult" />
</xs:schema>